.star-rating{
	font-size: 0;
	width:152px;
}

.star-rating__wrap_done{
	display: inline-block;
	width:150px;
	font-size: 1rem;
}

.star-rating__wrap{
	display: inline-block;
	width:150px;
	font-size: 1rem;
}


.star-rating__ico_done{
	float: right;
	padding-left: 2px;
	cursor: pointer;
	color: #FFB300;
}


.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
}
.star-rating__ico{
	float: right;
	padding-left: 2px;
	cursor: pointer;
	color: #FFB300;
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";
}
.rate-header{
	color:#ccc;
	font-size:0.80rem;
}
.rate-header-rate{
	color:#999;
	font-size:0.85rem;
}